/* The container */
.containerRadioButtonColourfulColor {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.containerRadioButtonColourfulColor input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmarkRadioButtonColourfulColor {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: linear-gradient(to top left, #6600cc 20%, #3399ff 100%);
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerRadioButtonColourfulColor:hover input ~ .checkmarkRadioButtonColourfulColor {
  background: linear-gradient(to top left, #6600cc 20%, #3399ff 100%);
  opacity: 0.5;
}

/* When the radio button is checked, add a blue background */
.containerRadioButtonColourfulColor input:checked ~ .checkmarkRadioButtonColourfulColor {
  background: linear-gradient(to top left, #6600cc 20%, #3399ff 100%);
  opacity: 0.6;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarkRadioButtonColourfulColor:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerRadioButtonColourfulColor input:checked ~ .checkmarkRadioButtonColourfulColor:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerRadioButtonColourfulColor .checkmarkRadioButtonColourfulColor:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

@media screen and (max-width:800px) {
    .containerRadioButtonColourfulColor {
      display: block;
      position: relative;
      padding-left: 20px;
      margin-bottom: 8px;
      cursor: pointer;
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    .checkmarkRadioButtonColourfulColor {
      position: absolute;
      top: 0;
      left: 0;
      height: 14px;
      width: 14px;
      background: linear-gradient(to top left, #6600cc 20%, #3399ff 100%);
      border-radius: 50%;
    }
  
    /* Style the indicator (dot/circle) */
    .containerRadioButtonColourfulColor .checkmarkRadioButtonColourfulColor:after {
        top: 4px;
        left: 4px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: white;
    }
}