/*@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');*/

.productCardContainer {
	display: block;
}

.productCard {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 30px;
	overflow: hidden;
	width: 1!;
}

.productCard h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.productCard h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.productCardpreview {
	background-color: #0071c5;
	color: #ffffff;
	padding: 50px;
	max-width: 650px;
	position: relative;
}

.productCardpreview a {
	color: #ffffff;
	display: inline-block;
	font-size: 19px;
	opacity: 1.0;
	margin-top: 30px;
	text-decoration: none;
}

.productCard-info {
	padding: 30px;
	position: relative;
	width: 90%;
	color: #0071c5;
}

.productCard-Button {
	background-color: white;
	color: #0071c5;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: right;
	outline: none;
	font-size: 22px;
	border-radius: 10px;
	font-weight: bold;
  }
  
  .productCard-Button:hover {
	text-decoration:underline;
  }

  .productCard-Button:after {
	content: 'See more Specs';
	color: #0071c5;
	font-weight: bold;
	float: right;
	margin-left: 5px;
  }
  
  .active:hover {
	text-decoration:underline;
  }

  .active:after {
	content: "See less Specs";
  }
  
  .specs {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: white;
  }

.productCardpreview-Button {
	background-color: white;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #0071c5;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
}

/*CHANGE-----------------------------------------------------------------------------------*/
@media screen and (max-width:800px) {
    .productCardContainer {
		display: none;
	}
  }
/*CHANGE-----------------------------------------------------------------------------------*/