/* The container */
.containerRadioButton {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .containerRadioButtonOnRow {
    position: relative;
    padding-left: 28px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .containerRadioButtonOnRowType {
    position: relative;
    padding-left: 28px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .containerRadioButton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .containerRadioButtonOnRow input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .containerRadioButtonOnRowType input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmarkRadioButton {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .containerRadioButton:hover input ~ .checkmarkRadioButton {
    background-color: #ccc;
  }
  
  .containerRadioButtonOnRow:hover input ~ .checkmarkRadioButton {
    background-color: #ccc;
  }

  .containerRadioButtonOnRowType:hover input ~ .checkmarkRadioButton {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .containerRadioButton input:checked ~ .checkmarkRadioButton {
    background-color: #0071c5;
  }
  
  .containerRadioButtonOnRow input:checked ~ .checkmarkRadioButton {
    background-color: #0071c5;
  }

  .containerRadioButtonOnRowType input:checked ~ .checkmarkRadioButton {
    background-color: #0071c5;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmarkRadioButton:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .containerRadioButton input:checked ~ .checkmarkRadioButton:after {
    display: block;
  }
  
  .containerRadioButtonOnRow input:checked ~ .checkmarkRadioButton:after {
    display: block;
  }

  .containerRadioButtonOnRowType input:checked ~ .checkmarkRadioButton:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .containerRadioButton .checkmarkRadioButton:after {
       top: 0px;
      left: 0px;
      width: 0px;
      height: 0px;
      border-radius: 50%;
      background: white;
  }
 
  .containerRadioButtonOnRow .checkmarkRadioButton:after {
       top: 0px;
      left: 0px;
      width: 0px;
      height: 0px;
      border-radius: 50%;
      background: white;
  }

  .containerRadioButtonOnRowType .checkmarkRadioButton:after {
       top: 0px;
      left: 0px;
      width: 0px;
      height: 0px;
      border-radius: 50%;
      background: white;
  }
  
  @media screen and (max-width:800px) {
    .containerRadioButton {
      display: block;
      position: relative;
      padding-left: 20px;
      margin-bottom: 8px;
      cursor: pointer;
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    .containerRadioButtonOnRow {
      display: block;
      position: relative;
      padding-left: 20px;
      margin-bottom: 0px;
      cursor: pointer;
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-align: left;
    }

    .containerRadioButtonOnRowType {
      position: relative;
      padding-left: 20px;
      margin-bottom: 8px;
      cursor: pointer;
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .checkmarkRadioButton {
      position: absolute;
      top: 0;
      left: 0;
      height: 14px;
      width: 14px;
      background-color: #eee;
      border-radius: 50%;
    }
  }